# Virtual environement
venv/
.env

# Temporary python files
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints
notebooks/

# dbt
dbt_project/dbt_packages/
dbt_project/dbt_internal_packages/
dbt_project/logs/
dbt_project/target/


